.container-Header {
  background-color:rgb(230, 29, 36); /*VA NEGRO*/
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

  .HeaderNombreAndIdioma {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
  }

  .HeaderNombre {
    margin-right: 10px;
    width: 200px;
    height: 70px;
    border-radius: 15px;
  }

  .LogoHeader {
    width: 200px;
    height: 70px;
    border-radius: 15px;
  }

  .Search-Header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .userRegisterAndCarrito {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }


  .btn-carrito {
    /* Estilos del botón */
    padding: 10px 20px;
    font-size: 16px;
    border: 1px;

    background-color: transparent; /* Color de fondo del botón */
  
    /* Propiedad para agregar la imagen como fondo */
    background-image: url('../../../../Public/carrito/carrito.png');
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el botón */
  
    /* Otros estilos, como bordes, colores, márgenes, etc. */
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-carrito:hover {
    /* Estilos cuando el cursor está sobre el botón */
    opacity: 0.8; /* Cambia la opacidad del botón al pasar el cursor */
  }
  